.popup__save-button_disabled {
  background-color: white;
  opacity: 0.2;
  color: black;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.popup__save-button_disabled:hover {
  cursor: auto;
  opacity: 0.2;
}
