.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid white;
  margin-left: auto;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  padding: 0;
  transition: opacity 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
  }
}
