.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin: 0 auto;
  padding-bottom: 41px;
}

@media screen and (max-width: 450px) {
  .header {
    padding: 0 0 32px 27px;
  }
}
